@import "../../vars.css";

.container {
  position: relative;
  background-color: rgba(12, 12, 12, 0.6);
  border-radius: 15px;
  padding: 73px;
  margin-top: 129px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.drops::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 0;
  pointer-events: none;
  animation: starRain 20s linear infinite;
}

@keyframes starRain {
  0% { background: transparent; }
  100% { background: transparent; }
}

.drops::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../../../public/drops.png') repeat;
  opacity: 0.1;
  animation: starFall 20s linear infinite;
}

@keyframes starFall {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(100%); }
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.aboutImage {
  width: 35%;
}

.aboutItems {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.aboutItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  list-style: none;
  padding: 25px;
  background-image: linear-gradient(
    90deg,
    rgba(238, 0, 255, 0.301) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 0.4s;
}

.aboutItem:hover {
  background-size: 100% 100%;
}

.aboutItem h3 {
  font-size: 25px;
  font-weight: 600;
}

.aboutItem p {
  font-size: 25px;
}

.about {
  position: relative;
  overflow: hidden;
}

.rainingStars::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 0;
  pointer-events: none;
  animation: starRain 200vh linear infinite; /* Use vh units for consistent speed */
}

.rainingStars::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../public/star.png') repeat;
  opacity: 0.1;
  animation: starFall 200vh linear infinite; /* Use vh units for consistent speed */
}

@media screen and (max-width: 830px) {
  .container {
    background-color: rgba(12, 12, 12, 0.6);;
    padding: 2;
  }

  .content {
    flex-direction: column;
  }

  .aboutImage {
    display: none;
  }

  .aboutItems {
    margin-top: 29px;
  }

  .aboutItem {
    padding-left: 0;
    padding-right: 0;
  }
}
