@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 79px;
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 10px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 14px;
}

.skills {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  gap: 37px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
}

.skillImageContainer {
  background-color: var(--color-secondary);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
}

.skillImageContainer img {
  width: 75px;
}

.skill p {
  font-size: 25px;
  font-family: var(--font-roboto);
  font-weight: 500;
}

.history {
  width: 45%;
  display: flex;
  justify-content: 'start';
  flex-direction: column;
  gap: 40px;
}

.historyItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px;
  background: linear-gradient(90deg, rgba(137, 0, 147, 0.344), rgba(25, 55, 109, 0) 100%);
  border-radius: 10px;
  padding: 24px;
  transition: background-color 0.5s ease, background 0.5s ease; /* Smooth transition for background color and gradient */
}

.historyItem img {
  width: 50px;
}

.historyItemDetails {
  font-family: var(--font-roboto);
}

.historyItemDetails h3 {
  font-size: 30px;
  font-weight: 500;
}

.historyItemDetails p {
  font-size: 20px;
  font-weight: 300;
}

.historyItemDetails ul {
  margin-top: 6px;
  list-style-position: inside;
  font-size: 25px;
  list-style-type: disc;
  margin-left: 17px;
}

@media screen and (max-width: 830px) {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 34px;
  }

  .skills {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }

  .history {
    width: 100%;
    gap: 9px;
  }
  .title {
    flex-direction:column ;
  }
}
/* sad */
@keyframes snakeAnimation {
  0% { 
    border-image-source: linear-gradient(90deg, #04152d, transparent); 
    border-image-slice: 1; 
    border-image-width:  5px; 
    box-shadow: 0 0 15px 5px rgba(4, 21, 45, 0.6); 
  }
  25% { 
    border-image-source: linear-gradient(180deg, #04152d, transparent); 
    border-image-slice: 1; 
    border-image-width: 5px; 
    box-shadow: 0 0 15px 5px rgba(4, 21, 45, 0.6); 
  }
  50% { 
    border-image-source: linear-gradient(270deg, #04152d, transparent); 
    border-image-slice: 1; 
    border-image-width: 5px; 
    box-shadow: 0 0 15px 5px rgba(4, 21, 45, 0.6); 
  }
  75% { 
    border-image-source: linear-gradient(360deg, #04152d, transparent); 
    border-image-slice: 1; 
    border-image-width: 5px; 
    box-shadow: 0 0 15px 5px rgba(4, 21, 45, 0.6); 
  }
  100% { 
    border-image-source: linear-gradient(90deg, #04152d, transparent); 
    border-image-slice: 1; 
    border-image-width: 5px; 
    box-shadow: 0 0 15px 5px rgba(4, 21, 45, 0.6); 
  }
}

/* Apply animation on hover */
.historyItem:hover {
  background-color: #000000; /* Black background color on hover */
  background: #000000; /* Ensure that gradient background is overridden */
  border-image-source: linear-gradient(90deg, #04152d, transparent);
  border-image-slice: 1;
  border-image-width: 5px;
  animation: snakeAnimation 2s infinite; /* Apply the snake animation */
}


/* Experience.module.css */

.linkStyle {
  color: #ffffff; /* White text color */
  text-decoration: none; /* Remove underline */
  font-size: 0.8rem; /* Font size */
  padding: 0.5rem 1rem; /* Padding for better click area */
  border: 2px solid #04152d; /* Border with the color #04152d */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s ease, color 0.3s ease; /* Transition for smooth hover effect */
  display: flex;
  align-items: center;
}

.linkStyle:hover {
  background-color: #04152d; /* Change background color on hover */
  color: #ffffff; /* Maintain white text color on hover */
}
.arrowIcon {
  margin-left: 8px; /* Spacing between text and icon */
  fill: #006aff; /* Icon color */
}
.arrowIcon:hover {
  transform: rotate(335deg); /* Rotate the icon by 45 degrees */
  transition: transform 1s ease;
}